<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quick Aid App</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="header">
        <h1>
            QuickAid - Emergency Helper
        </h1>
        
      </div>

   

    <div id="form">
        <button id="locationButton" class="submit">ALLOW US TO ACCESS LOCATION FOR HELP!!</button>
    </div>
    <div class="location-info">
        <h3>Your Current Location:</h3>
        <p id="location">Fetching your location...</p>
    </div>
    <br>
    <br>
    <br>
    <footer>
        <p> QuickAid Helper to serve you</p>
      </footer>
      
    <script src="/app.js"></script>
</body>
</html>
